<div class="quiz-container">
  <br><br><br><br>
  <h3>Please choose your flight:</h3>
    <form action="/movies/show" method="get" id="form">
      <select name="flight_name">
        <% @flights.each do |flight| %>
          <option value="<%=flight.route%>"><%=flight.route%></option>
        <% end %>
      </select>

      <h3>Please answer these questions:</h3>
      <% @questions.each do |question| %>
        <div class="qa-container" id="<%=question.id%>">
          <h4><%="#{@questions.index(question) + 1}. " %><%= question.content %></h4>
          <% question.answers.each do |answer| %>
            <input type="radio" name="q<%=answer.question_id%>_radio" value="<%=answer.content%>"><%=" #{answer.content}"%><br>
          <% end %>
        </div>
      <% end %>

      <br><br>
      <input type="submit" value="Show me the movies!">
    </form>
</div>

<div class="movies-container">
  <p class="flight-length-hours"></p>
</div>
